myenv/
__pycache__/
*.pyc
.vscode/
.env
db.sqlite3
# Environnements virtuels
.venv/
venv/
myenv/

# Fichiers générés
staticfiles/
__pycache__/
*.pyc
.DS_Store

# Base locale
db.sqlite3

# Variables sensibles
.env
