{% extends "base.html" %}

{% block title %}Connexion | TechStore{% endblock %}

{% block content %}

<div class="auth-card">
    <div class="text-center mb-4">
        <div style="font-size: 60px;">💻</div>
        <h2 class="mt-3 fw-bold">Connexion</h2>
        <p class="text-muted">
            Connectez-vous pour accéder à votre espace TechStore.
        </p>
    </div>

    {% if form.errors %}
        <div class="alert alert-danger rounded-4">
            Nom d’utilisateur ou mot de passe incorrect.
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label fw-semibold">Nom d’utilisateur</label>
            <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-4">
            <label class="form-label fw-semibold">Mot de passe</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-pastel w-100">
            Se connecter
        </button>
    </form>

    <div class="text-center mt-4">
        <p class="text-muted mb-1">Vous n’avez pas encore de compte ?</p>
        <a href="/signup/" class="text-decoration-none fw-semibold">
            Créer un compte
        </a>
    </div>

    <div class="text-center mt-3">
        <a href="/products/" class="text-decoration-none">
            Retour aux produits
        </a>
    </div>
</div>

{% endblock %}
